body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #333333;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.board {
  width: 800px;
  height: 800px;

  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
}

.square {
  background: #fff;
  height: 80px;
  width: 80px;
  font-size: 10px;
  color: #ccc;
  padding: 10px;
  position: relative;
  text-align: center;
}

.square.white {
  background: #dfe6e9;
}

.square.black {
  background: #b2bec3;
}

.square .identifier {
  position: absolute;
  top: 5;
  left: 5;
}

.piece {
  width: 25px;
  margin-top: 10px;
}

.piece.active {
  border: 1px solid #ff0000;
}

.threatIndicator {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  top: 0;
}

.threatIndicator.white {
  background: #778beb;
  left: 40px;
}

.threatIndicator.black {
  background: #3dc1d3;
  left: 20px;
}
